<!DOCTYPE html>
<html>
<head>
<title>About - WesSID</title>
</head>
<body>
<h1>About</h1>
<p>This is a project created by The Visionaries, a group within Kai Labs Student-Run Forum</p>
</body>
</html>