<!DOCTYPE html>
<html>
<head>
<title>Home | Wesleyan Student Internship Reviews</title>
</head>
<body>

<h1>Wesleyan Student Internship Reviews</h1>
<a href="http://localhost:3000/static_pages/about">About</a>
<a href="http://localhost:3000/static_pages/help">Help</a>
<p>Welcome to the Wesleyan Student Internship Reviews, the experience database was built exclusively by Wesleyan students for Wesleyan Students. Search the database for internship opportunities recommended by your Wes peers. </p>

<p>When searching by Keyword, you can enter a single word, organization’s name or a phrase such as “film production.”</p>
</body>
</html>
